    <!-- Font Awesome Icon -->
    <script src="https://kit.fontawesome.com/7cc967098c.js" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="/javascript/dom.js"></script>
  </body>
</html>
